<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Arguments -->
    <xacro:arg name="use_ros2_control" default="true" />
    <xacro:arg name="sim_mode" default="false" />

    <!-- Core Robot Description -->
    <xacro:include filename="robot_core.xacro" />

    <!-- Conditional Includes -->
    <xacro:if value="${use_ros2_control}">
        <xacro:include filename="$(find turtle)/src/ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="${use_ros2_control}">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>
    
</robot>
